<script type="text/javascript">
  window.images = {
    devices:  "<%= image_url('devices.png') %>",
    feature1: "<%= image_url('feature1.png') %>",
    feature2: "<%= image_url('feature2.png') %>",
    feature3: "<%= image_url('feature3.png') %>",
    logo:     "<%= image_url('logo.jpg') %>",
    logoClear: "<%= image_url('fav.png') %>"
  }
</script>

<div id="root">React not working :P</div>